<div class="side-bar-header">
  <div class="header-name">
    <%= link_to "仮ユーザー", "#" %>
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", "#" %>
  </div>
</div>
<div class="rooms">
  <div class="room">
    <div class="room-name">
      <%= link_to "hogeroom01", "#" %>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <%= link_to "hogeroom02", "#" %>
    </div>
  </div>
</div>