<div class="side-bar-header">
  <div class="header-name">
    <%= link_to "taikyaki-temp", "#" %>
  </div>
  <div class="create-room">
    <%= link_to "チャットを作成する", "#" %>
  </div>
</div>
<div class="rooms">
  <div class="room">
    <div class="room-name">
      <%= link_to "タイヤキの部屋temp1", "#" %>
    </div>
  </div>
  <div class="room">
    <div class="room-name">
      <%= link_to "タイヤキの部屋temp2", "#" %>
    </div>
  </div>
</div>